html{
background-color: cadetblue;

}

img{
height: 320px;
width: 470px;
margin-right: 110px;
margin-bottom: 60px;
}


textarea{
text-align: center;

}

button{
text-align: center;

}